<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"
        tools:ignore="CoarseFineLocation" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventManagement"
        tools:targetApi="31">
        <activity
            android:name=".eventpicture"
            android:exported="false" />
        <activity
            android:name=".task_items"
            android:exported="false" />
        <activity
            android:name=".tasks"
            android:exported="false" />
        <activity
            android:name=".Event"
            android:exported="false" />
        <activity
            android:name=".event_item"
            android:exported="false" />
        <activity
            android:name=".currentevent"
            android:exported="false" />
        <activity
            android:name=".location"
            android:exported="true" />
        <activity
            android:name=".contactus"
            android:exported="false" />
        <activity
            android:name=".guest_list_item"
            android:exported="false" />
        <activity
            android:name=".guestlist"
            android:exported="false" />
        <activity
            android:name=".createevent"
            android:exported="false" />
        <activity
            android:name=".weddingactivity"
            android:exported="false" />
        <activity
            android:name=".eventdashboard"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".getstarted"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />
    </application>

</manifest>